<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer=""></script>
</head>
<body>

    <section class="sec-register">
        <div class="img-register">
            <img src="../static/images/blue.jpg" alt="">
            <div class="uni-link">
                <h1>You're not sure wether your university it's part of GossipR Box?</h1>
               <br> <h2>Not a problem!</h2>
                <br><br><a href="{{ url_for('collaborators')}}">Take a look at our list of collaborators</a>
            </div>
        </div>
        <div class="container-register">
            <nav class="navegator">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{url_for('news')}}">News</a>
                <a href="{{ url_for('collaborators')}}">Collaborators</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('user') }}">Your account</a>  
                {% else %}
                    <a href="{{ url_for('login') }}">Log In</a>
                      
                {% endif %}
            </nav>
<h1>Register into GossipR Box</h1>
{% if error %}
    <p class=error style="color:red; padding-top:20px; font-size:20px;"><strong>Error:</strong> {{ error }}
  {% endif %}
<table>
    <form action="" method="post">
    <tr>
        <td>
            <label for="email">Student mail</label>
        </td>
        <td><input type="text" name="email" id="email"></td>
    </tr>
    <tr>
        <td>
            <label for="username">Username</label>
        </td>
        <td><input type="text" name="username" id="username"></td>
    </tr>
    <tr>
        <td>
            <label for="telephone">Telephone</label>
        </td>
        <td><input type="text" name="telephone" id="telephone"></td>
    </tr>
    <tr>
        <td>
            <label for="gender">Gender</label>
        </td>
        <td><select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select></td>
    </tr>
    <tr>
        <td>
            <label for="date">Date of enrollment</label>
        </td>
        <td><input type="date" name="date" id="date"></td>
    </tr>
    <tr>
        <td>
            <label for="university">University</label>
        </td>
        <td>
            <input type="text" name="university" list="university">
            <datalist name="university" id="university">
            
        </datalist></td>
    </tr>
    <tr>
        <td>
            <label for="pin">Password</label>
        </td>
        <td><input type="password" name="password" id="pin"></td>
    </tr>
    <tr>
        <td>
            <label for="pin-2"> Confirm Password</label>
        </td>
        <td><input type="password" id="pin-2" name="pin-2"></td>
    </tr>
    <tr>
        <td>
        </td>
        <td><input type="submit" id="submit" value="Register" class="submit"></td>
    </tr>

</form>
    
</table>




</div>
    </section>


    <footer>
        <div class="contact">
            <div class="contact-office">
                <h1>Contacto</h1>
                <div class="contact-info">
                <h2>Paseo de la Castellana nº1</h2>
                <p>+34 111 22 33 44</p>
                <p>Horario de oficina: 08:30 - 19:00</p>
                </div>

            </div>
            <div class="social">
                <ul>
                    <li>
                        <img src="../static/logos/icons8-facebook-24.png" alt="">
                    </li>
                    <li>
                        <img src="../static/logos/icons8-instagram-24.png" alt="">
                    </li>
                    <li>
                        <img src="../static/logos/icons8-linkedin-24.png" alt="">
                    </li>
                    <li>
                        <img src="../static/logos/icons8-tiktok-24.png" alt="">
                    </li>
                   
                </ul>
            </div>

        </div>
        <div class="disclaimer">
        <span>© [2025] [GossipR Box]. All rights reserved. The content on this website is for informational purposes only and not a substitute for professional advice.</span>
        </div>
    </footer>
</body>
</html>